<html>
<head>
    <title><?title?></title>
    <?theme layout.css?>
    <?theme formatting.css?>
</head>
<body>
    <div id="content" class="container">
        <div class="containee">
            <?content?>
        </div>
    </div>
    
    <div id="navigation" class="container">
        <div class="containee">
            <?navigation?>
        </div>
    </div>
    
    <div id="header" class="container">
        <div class="containee">
            <?globalcontent header?>
        </div>
    </div>
        
    <div id="footer" class="container">
        <div class="containee">
            <?globalcontent footer?>
        </div>
    </div>
    
    <div id="admin" class="container">
        <div class="containee">
            <?admin?>
        </div>
    </div>
</body>
</html>
